<ion-view title="Home" ng-controller="searchTaxi">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 193px;"></div>
        <small>Use : ERE576 for test taxi</small>
        <div>
            <label class="item item-input" name="search">
                <span class="input-label">Search</span>
                <input ng-model="taxi.registration" type="text" placeholder="search..">

            </label>
        </div>
        
        <button ng-click="search(taxi.registration)" class="button button-positive button-block ">Search</button>
       
        <div ng-show="searchResults" class="ng-hide">

                    <header>Results : {{taxi.registration}}</header>
                    <!-- our list and list items -->
                    <ion-list >
                        <ion-item ng-click="gotodetails()">
                            <div class="row">
                                <div class="col">
                                    <li>Make : {{taxi_info.vehicle.make + " " + taxi_info.vehicle.model + " " + taxi_info.vehicle.year}}</li>
                                    <li>Decal : {{taxi_info.decal + " fleet : " + taxi_info.fleet }}</li>
                                    <li>ATO : {{taxi_info.ato}}</li>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                
        </div>
      

    </ion-content>
</ion-view>