<ion-view title="Home" ng-controller="searchTaxi">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 193px;"></div>
        <div>
            <label class="item item-input" name="search">
                <span class="input-label">Search</span>
                <input ng-model="taxi.registration" type="text" placeholder="search..">

            </label>
        </div>
        <button ng-click="search(taxi.registration)" class="button button-positive button-block ">Search</button>
        <small>Use : ERE576 for test</small>
        <div ng-show="searchResults" class="ng-hide">

                <ion-content>
                    <!-- our list and list items -->
                    <ion-list >
                        <ion-item>
                            <div class="row">
                                <div class="col col-50">
                                    Make
                                </div>
                                <div class="col">
                                    {{taxi_info.vehicle.make + " " + taxi_info.vehicle.model + " " + taxi_info.vehicle.year}}
                                </div>
                            </div>
                         </ion-item>
                        <ion-item>
                            <div class="row">
                                <div class="col col-50">
                                    ATO
                                </div>
                                <div class="col">
                                    {{taxi_info.ato}}
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
        </div>
      

    </ion-content>
</ion-view>