<ion-view title="details" ng-controller="taxidetails">
    <ion-content padding="true" class="has-header">

        <h3>Taxi Details</h3>
        <ion-list>
            <ion-item><b>ATO: </b>{{taxi_info.ato }}</ion-item>
            <ion-item><b>ID: </b>{{taxi_info.fleet }} </ion-item>
            <ion-item><b>Decal: </b>{{taxi_info.decal }} </ion-item>
            <ion-item><b>Fleet: </b>{{taxi_info.fleet }} </ion-item>
            <ion-item><b>Service: </b>{{taxi_info.service }} </ion-item>
            
        </ion-list>

        <h3>Vehicle Information</h3>
        <ion-list>
   
    <ion-item><b>Make: </b>{{taxi_info.vehicle.make }} </ion-item>
     <ion-item><b>Model: </b>{{taxi_info.vehicle.model }} </ion-item>
     <ion-item><b>Year: </b>{{taxi_info.vehicle.year }} </ion-item>
</ion-list>




    </ion-content>
</ion-view>